.side{
    position: fixed;
    background-color: red;
    padding: 100px;
    padding-left: 10px;
    height: 77.7%;
    left: 0px;
    top: 0px;
    width: 10%;


}
#kfc{
    position: absolute;
    width: 150px;
    top: 0px;

}
.menu{
    position: absolute;
    color: white;
    top: 150px;
    left: 10px;
    font-size: 30px;
}
.first{
    position: absolute;
    color: white;
    top: 230px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.second{
    position: absolute;
    color: white;
    top: 280px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.third{
    position: absolute;
    color: white;
    top: 330px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.fourth{
    position: absolute;
    color: white;
    top: 380px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.fifth{
    position: absolute;
    color: white;
    top: 434px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.sixth{
    position: absolute;
    color: white;
    top: 485px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.seventh{
    position: absolute;
    color: white;
    top: 535px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.eighth{
    position: absolute;
    color: white;
    top: 583px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.nineth{
    position: absolute;
    color: white;
    top: 628px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.tenth{
    position: absolute;
    color: white;
    top: 673px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
.eleven{
    position: absolute;
    color: white;
    top: 720px;
    font-size: 25px;
    left: 60px;
    text-decoration: solid;
}
#link:hover{
    background-color: red;
    text-decoration: underline;

}
.bar{
    position: absolute;
    left: 15.9%;
    background-color: whitesmoke;
    top: 0px;
    width: 84.1%;
    height: 10%;

}
h1{
    position: absolute;
    color: red;
    top: 5px;
    left: 50px;
    font-size: 35px;

}
.button1{
    position: absolute;
    background-color: red;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    left: 1300px;
    top: 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    border-color: white;
}
.badge{
    position: absolute;
    left: 1390px;
    top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 60px;
    background-color: white;
   color: red;
}
#demo{
    font-size: 10px;
}
#login{
    position: absolute;
    width: 3%;
    cursor: pointer;
    top: 15px;
    left: 93%;
}
.ftr1{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 10.3%;
    width: 84.2%;
    height: 150%;

}
.ftr2{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 160.5%;
    width: 84.2%;
    height: 180%;

}
.ftr3{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 341%;
    width: 84.2%;
    height: 130%;

}
.ftr4{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 471.6%;
    width: 84.2%;
    height: 220%;

}
.ftr5{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 692.3%;
    width: 84.2%;
    height: 140%;

}
.ftr6{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 833%;
    width: 84.2%;
    height: 95%;

}
.ftr7{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 928.5%;
    width: 84.2%;
    height: 140%;

}
.ftr8{
    position: absolute;
    background-color: rgb(228, 228, 228);
    left: 15.8%;
    top: 1069%;
    width: 84.2%;
    height: 94%;

}
.one{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.two{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.three{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.four{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.five{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.six{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.seven{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
.eight{
    position: absolute;
    color: black;
    left: 10px;
    text-decoration: solid;
    font-size: 30px;
}
#lay1{
    position: absolute;
    width: 20%;
    top: 8%;
    left: 5%;
    cursor: pointer;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#layr1{
    position: absolute;
    width: 27%;
    top: 10%;
    left: 55%;
    cursor: pointer;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#layr1:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

#lay1:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay2{
    position: absolute;
    width: 20%;
    top: 8%;
    left: 38%;
    cursor: pointer;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#layr2{
    position: absolute;
    width: 34%;
    top: 7%;
    left: 6%;
    cursor: pointer;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#layr2:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay2:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay3{
    position: absolute;
    width: 20%;
    top: 8%;
    left: 70%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#lay3:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay4{
    position: absolute;
    width: 20%;
    top: 39%;
    left: 5%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 23.5%;
}
#lay4:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay5{
    position: absolute;
    width: 20%;
    top: 39%;
    left: 38%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#lay5:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay6{
    position: absolute;
    width: 20%;
    top: 39%;
    left: 70%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#lay6:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay7{
    position: absolute;
    width: 20%;
    top: 70%;
    left: 5%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#lay7:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#lay8{
    position: absolute;
    width: 20%;
    height: 24.3%;
    top: 70%;
    left: 38%;
    cursor: pointer;
    background-color: white;
    box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#lay8:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#bu1{
    position: absolute;
    width: 30%;
    left: 55%;
    top: 45%;

}
#bu1:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#bu2{
    position: absolute;
    width: 29%;
    left: 6%;
    top: 45%;
}
#bu2:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#bu3{
    position: absolute;
    width: 29%;
    left: 6%;
    top: 73%;
}
#bu3:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#bu4{
    position: absolute;
    width: 29%;
    left: 55%;
    top: 73%;
}
#bu4:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com1{
    position: absolute;
    width: 25%;
    top: 7%;
    left: 3%;
}
#com1:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com2{
    position: absolute;
    width: 25%;
    top: 7%;
    left: 38%;
}
#com2:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com3{
    position: absolute;
    width: 25%;
    top: 7%;
    left: 73%;
}
#com3:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com4{
    position: absolute;
    width: 25%;
    top: 38%;
    left: 3%;
}
#com4:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com5{
    position: absolute;
    width: 25%;
    top: 38%;
    left: 38%;
}
#com5:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com6{
    position: absolute;
    width: 25%;
    top: 38%;
    left: 73%;
}
#com6:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com7{
    position: absolute;
    width: 25%;
    top: 69%;
    left: 3%;
}
#com7:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#com8{
    position: absolute;
    width: 25%;
    top: 69%;
    left: 38%;
}
#com8:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#ch1{
    position: absolute;
    width: 40%;
    top: 6%;
    left: 3%;
}
#ch1:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#ch2{
    position: absolute;
    width: 40%;
    top: 6%;
    left: 55%;
}
#ch2:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#ch3{
    position: absolute;
    width: 40%;
    top: 37%;
    left: 3%;
}
#ch3:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#ch4{
    position: absolute;
    width: 40%;
    top: 37%;
    left: 55%;
}
#ch4:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#ch5{
    position: absolute;
    width: 40%;
    top: 69%;
    left: 3%;
}
#ch5:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#gr1{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 3%;
}
#gr1:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr2{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 37%;
}
#gr2:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }

#gr3{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 72%;
}
#gr3:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr4{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 3%;
}
#gr4:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr5{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 37%;
}
#gr5:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr6{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 72%;
}
#gr6:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr7{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 3%;
}
#gr7:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr8{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 37%;
}
#gr8:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#gr9{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 72%;
}
#gr9:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#rc1{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 3%;
}
#rc1:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#rc2{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 37%;
}
#rc2:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#rc3{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 72%;
}
#rc3:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
#rc4{
    position: absolute;
    width: 25%;
    top: 55.5%;
    left: 3%;
}
#rc4:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn1{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 3%;
} 
#sn1:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn2{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 37%;
}
#sn2:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn3{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 72%;
}
#sn3:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn4{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 3%;
}
#sn4:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn5{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 37%;
}
#sn5:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn6{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 72%;
}
#sn6:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn7{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 3%;
}
#sn7:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn8{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 37%;
}
#sn8:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#sn9{
    position: absolute;
    width: 25%;
    top: 70.5%;
    left: 72%;
}
#sn9:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju1{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 3%;
}
#ju1:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju2{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 37%;
}
#ju2:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju3{
    position: absolute;
    width: 25%;
    top: 10%;
    left: 72%;
}
#ju3:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju4{
    position: absolute;
    width: 25%;
    top: 58%;
    left: 3%;
}
#ju4:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju5{
    position: absolute;
    width: 25%;
    top: 58%;
    left: 37%;
}
#ju5:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
#ju6{
    position: absolute;
    width: 25%;
    top: 58%;
    left: 72%;
}
#ju6:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.str1{
    position: absolute;
    top: 33%;
    left: 5.2%;
    font-size: 20px;
}
.str2{
    position: absolute;
    top: 33%;
    left: 38.3%;
    font-size: 20px;
}
.strs2{
    position: absolute;
    top: 39%;
    left: 7%;
    font-size: 20px;
}
.strs3{
    position: absolute;
    top: 39%;
    left: 55%;
    font-size: 20px;
}
.str3{
    position: absolute;
    top: 33%;
    left: 70%;
    font-size: 20px;
}
.str4{
    position: absolute;
    top: 63%;
    left: 5.2%;
    font-size: 20px;
}
.str5{
    position: absolute;
    top: 63%;
    left: 38.3%;
    font-size: 20px;
}
.str6{
    position: absolute;
    top: 63%;
    left: 70%;
    font-size: 20px;
}
.str7{
    position: absolute;
    top: 94%;
    left: 5.2%;
    font-size: 20px;
}
.str8{
    position: absolute;
    top: 94%;
    left: 38.3%;
    font-size: 20px;
}
.dtr1{
    position: absolute;
    left: 55%;
    top: 68%;
    font-size: 20px;
}
.dtr2{
    position: absolute;
    left: 6%;
    top: 68%;
    font-size: 20px;
}
.dtr3{
    position: absolute;
    left: 6%;
    top: 96%;
    font-size: 20px;
}
.dtr4{
    position: absolute;
    left: 55%;
    top: 96%;
    font-size: 20px;
}
.ttr1{
    position: absolute;
    top: 33.5%;
    left: 3%;
    font-size: 20px;
}
.ttr2{
    position: absolute;
    top: 33.5%;
    left: 38%;
    font-size: 20px;
}
.ttr3{
    position: absolute;
    top: 33.5%;
    left: 73%;
    font-size: 20px;
}
.ttr4{
    position: absolute;
    top: 64%;
    left: 3%;
    font-size: 20px;
}
.ttr5{
    position: absolute;
    top: 64%;
    left: 38%;
    font-size: 20px;
}
.ttr6{
    position: absolute;
    top: 64%;
    left: 73%;
    font-size: 20px;
}
.ttr7{
    position: absolute;
    top: 95%;
    left: 3%;
    font-size: 20px;
}
.ttr8{
    position: absolute;
    top: 95%;
    left: 38%;
    font-size: 20px;
}
.chr1{
    position: absolute;
    top: 33%;
    left: 3.2%;
    font-size: 20px;
}
.chr2{
    position: absolute;
    top: 33%;
    left: 55%;
    font-size: 20px;
}
.chr3{
    position: absolute;
    top: 64%;
    left: 3.2%;
    font-size: 20px;
}
.chr4{
    position: absolute;
    top: 64%;
    left: 55%;
    font-size: 20px;
}
.chr5{
    position: absolute;
    top: 95%;
    left: 3.2%;
    font-size: 20px;
}
.gtr1{
    position: absolute;
    top: 34.5%;
    left: 3.2%;
    font-size: 20px;
}
.gtr2{
    position: absolute;
    top: 34.5%;
    left: 37%;
    font-size: 20px;
}
.gtr3{
    position: absolute;
    top: 34.5%;
    left: 72%;
    font-size: 20px;
}
.gtr4{
    position: absolute;
    top: 64%;
    left: 3%;
    font-size: 20px;
}
.gtr5{
    position: absolute;
    top: 64%;
    left: 37%;
    font-size: 20px;
}
.gtr6{
    position: absolute;
    top: 64%;
    left: 72%;
    font-size: 20px;
}
.gtr7{
    position: absolute;
    top: 95%;
    left: 3%;
    font-size: 20px;
}
.gtr8{
    position: absolute;
    top: 95%;
    left: 37%;
    font-size: 20px;
}
.gtr9{
    position: absolute;
    top: 95%;
    left: 72%;
    font-size: 20px;
}
.rtr1{
    position: absolute;
    top: 47%;
    left: 3%;
    font-size: 20px;
}
.rtr2{
    position: absolute;
    top: 47%;
    left: 37%;
    font-size: 20px;
}
.rtr3{
    position: absolute;
    top: 47%;
    left: 72%;
    font-size: 20px;
}
.rtr4{
    position: absolute;
    top: 92%;
    left: 3%;
    font-size: 20px;
}
.ntr1{
    position: absolute;
    top: 34.7%;
    left: 3.2%;
    font-size: 20px;
}
.ntr2{
    position: absolute;
    top: 34.7%;
    left: 37%;
    font-size: 20px;
}
.ntr3{
    position: absolute;
    top: 34.7%;
    left: 72%;
    font-size: 20px;
}
.ntr4{
    position: absolute;
    top: 65.6%;
    left: 3%;
    font-size: 20px;
}
.ntr5{
    position: absolute;
    top: 65.6%;
    left: 37%;
    font-size: 20px;
}
.ntr6{
    position: absolute;
    top: 65.6%;
    left: 72%;
    font-size: 20px;
}
.ntr7{
    position: absolute;
    top: 95%;
    left: 3%;
    font-size: 20px;
}
.ntr8{
    position: absolute;
    top: 95%;
    left: 37%;
    font-size: 20px;
}
.ntr9{
    position: absolute;
    top: 95%;
    left: 72%;
    font-size: 20px;
}
.jtr1{
    position: absolute;
    top: 45%;
    left: 3.2%;
    font-size: 20px;
}
.jtr2{
    position: absolute;
    top: 45%;
    left: 37%;
    font-size: 20px;
}
.jtr3{
    position: absolute;
    top: 45%;
    left: 72%;
    font-size: 20px;
}
.jtr4{
    position: absolute;
    top: 93%;
    left: 3%;
    font-size: 20px;
}
.jtr5{
    position: absolute;
    top: 93%;
    left: 37%;
    font-size: 20px;
}
.jtr6{
    position: absolute;
    top: 93%;
    left: 72%;
    font-size: 20px;
    
}




