body{
  background-color: red;
}
#kfc1{
  width: 20%;
}
#kfc2{
  padding-top: 150px;
  background-color: red;
}
h3{
  color: white;
  font-size: 50px;
  margin: 30px;
  padding: 50px;
}
h4{
  color: white;
  float: right;
  padding: 0px;
  word-spacing: 30px;
  font-size: 20px;
  text-decoration: none;
}
p{
  color: white;
  font-size: 20px;
  margin-left: 80px;
  padding: 0px;
}
.box{
      width: 50%;
      padding: 40px;
      float: left;
}
.side{
  float: right;
  width: 100%;
}
.button{
  
  background-color: white;
  border-radius: 30px;
  border-color: white;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin-left: 80px;
  cursor: pointer;
  opacity: 0.7px;
}
.link{
  color: white;
  text-decoration: solid;
}
#clr:hover{
  background-color: red;
  text-decoration: underline;
}
/* #user{
  position: absolute;
  width: 30px;
  left: 1410px;
  top: 30px;
} */