body{
  background-color: white;
}
#chick{
  width: 100%;
}
#chick1{
  width: 100%;
}
#chick2{
  width: 100%;
}
#chick3{
  width: 100%;
}
#chick4{
  width: 100%;
}
#chick5{
  width: 100%;
}
#chick6{
  width: 100%;
}
#chick7{
  width: 100%;
}
#chick8{
  width: 100%;
}
#chick9{
  width: 100%;
}
#shop1{
  position: absolute;
  width: 1.5%;
  left: 6%;
  top: 63.2%;
  cursor: pointer;
}
#shop2{
  position: absolute;
  width: 1.5%;
  left: 24%;
  top: 63.2%;
  cursor: pointer;
}
#shop3{
  position: absolute;
  width: 1.5%;
  left: 42.4%;
  top: 63.2%;
  cursor: pointer;
}
#shop4{
  position: absolute;
  width: 1.5%;
  left: 61%;
  top: 63.2%;
  cursor: pointer;
}
#shop5{
  position: absolute;
  width: 1.5%;
  left: 79.4%;
  top: 63.2%;
  cursor: pointer;
}
#shop6{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 89%;
  cursor: pointer;
}
#shop7{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 89.2%;
  cursor: pointer;
}
#shop8{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 89.2%;
  cursor: pointer;
}
#shop9{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 89.2%;
  cursor: pointer;
}
#shop10{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 89.2%;
  cursor: pointer;
}
h3{
  color: red;
  font-size: 35px;
}
.title{
  color: white;
  font-size: 30px;
}
.link:hover{
  background-color: red;
}
button {
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.box1 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  margin-left: 40px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box2 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box3 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
  background-color: red;
  border-color: white;
}
.box4 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box5 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box6 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  position: absolute;
  top: 650px;
  margin-left: 40px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box7 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  position: absolute;
  top: 650px;
  margin-left: 390px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box8 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  position: absolute;
  top: 650px;
  margin-left: 750px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box9 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  position: absolute;
  top: 650px;
  margin-left: 1100px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.box10 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  position: absolute;
  top: 650px;
  margin-left: 1450px;
  color: white;
  font-size: 20px;
  background-color: red;
}
.button1 {
  border-radius: 10px;
  position: absolute;
  margin-top: 1100px;
  margin-left: 820px;
  width: 150px;
  color: white;
  font-size: 20px;
}
