body{
  background-color: red;
}
#kfc1{
  width: 20%;
}
#kfc2{
  padding-top: 150px;
}
h3{
  color: white;
  font-size: 50px;
  margin: 30px;
  padding: 50px;
}
h4{
  color: white;
  float: right;
  padding: 0px;
  word-spacing: 30px;
  font-size: 20px;
  text-decoration: none;
}

p{
  color: white;
  font-size: 20px;
  margin-left: 80px;
  padding: 0px;
}
.link:hover{
  background-color: #000000 ;
}
#link:hover{
  background-color: orange;
}
.Tatha{
      width: 50%;
      padding: 40px;
      float: left;
}
.side{
  float: right;
  width: 100%;
}
.button{
  background-color: white;
  border-radius: 30px;
  border-color: white;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin-left: 80px;
  cursor: pointer;
  opacity: 0.7px;
}
.bla{
  background-color: white;
  color: white;
  position: absolute;
  top: 1000px;
  width: 1906px;
  left: -1px;
  height: 100%;
}
.small{
  position: absolute;
  color: red;
  font-size: 30px;
  left: 41%;
  top: 5%;
}
.small1{
  position: absolute;
  color: red;
  top: 15%;
  left: 30%;
  font-size: 90px;
}
.small2{
  position: absolute;
  color: red;
  top: 27%;
  left: 32%;
  font-size: 90px;
}
.small3{
  position: absolute;
  color: red;
  top: 53%;
  left: 32%;
  font-size: 20px;
}
.button1{
  background-color: black;
  border-radius: 30px;
  border-color: white;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 46%;
  cursor: pointer;
  opacity: 0.7px;
  top: 65%;
  position: absolute;
}
.stamp{
  position: absolute;
  top: 50%;
  left: 10%;
}