body{
  background-color: red;
}
#chick{
  width: 100%;
}
#chick1{
  width: 100%;
}
#chick2{
  width: 100%;
}
#chick3{
  width: 100%;
}
#chick4{
  width: 100%;
}
#chick5{
  width: 100%;
}
#chick6{
  width: 100%;
}
#chick7{
  width: 100%;
}
#chick8{
  width: 100%;
}
#chick9{
  width: 100%;
}
h3{
  color: white;
  font-size: 35px;
}
.title{
  color: white;
  font-size: 30px;
}
.link:hover{
  background-color: orange;
}
button {
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: Black;
  background-color: White;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.box1 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 40px;
  color: white;
  font-size: 20px;
}
.box2 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.box3 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.box4 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.box5 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  float: left;
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.box6 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 650px;
  margin-left: 40px;
  color: white;
  font-size: 20px;
}
.box7 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 650px;
  margin-left: 390px;
  color: white;
  font-size: 20px;
}
.box8 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 650px;
  margin-left: 750px;
  color: white;
  font-size: 20px;
}
.box9 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 650px;
  margin-left: 1100px;
  color: white;
  font-size: 20px;
}
.box10 {
  box-shadow: 20px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 290px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 650px;
  margin-left: 1450px;
  color: white;
  font-size: 20px;
}
.button1 {
  border-radius: 10px;
  position: absolute;
  color: Black;
  margin-top: 1100px;
  margin-left: 820px;
  width: 150px;
  color: white;
  font-size: 20px;
}
