body{
    background-color: aqua;
}
.container{
    max-width: 500px;
    padding: 50px;
    margin-left: 650px;
    margin-top: 300px;
    border-radius: 20px;
    background-color: white;
}
h2{
    position: absolute;
    margin-top: -30px;
    margin-left: 150px;
}
.no1 input{
    font-size: 30px;
}
.no2 input{
    font-size: 30px;
}
.no3 input{
    font-size: 30px;
}
.btn-1{
    font-size: 20px;
}
.btn-2{
    font-size: 20px;
}
.btn-3{
    font-size: 20px;
}
.btn-4{
    font-size: 20px;
}